body
{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
*
{
    box-sizing: border-box;
}
.navbar-nav .nav-item .nav-link
{
    font-weight: 600;
    transition: all 0.4s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #FF0E83!important;
}
#carousel 
{
    background-image: url(../img/b3.jpg);
    background-size: cover;
    height: 650px;
    max-width: 100%;
}
.carousel__content button:hover
{
    background-color: #fff!important;
    border-color: #FF0E83!important;
    color: black!important;
}
#ourservices
{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    max-width:100%
}
.our__content__icon i
{
    text-align: center;
    color:#4E2A84!important;
    font-size:3.5rem!important;
    border:#4E2A84 solid;
    border-radius: 50px!important;
    background-color: #fff;
    width: 6.25rem;
    height: 6.25rem;
    padding-top: 15px
    
}
.our__content i
{
    transition: all 0.5s;
}
.our__content:hover i
{
    color: #FF0E83!important;
}
.our__content .our__content__info button:hover
{
    background-color: #fff!important;
    border-color: #FF0E83!important;
    color: black!important;
}
.gallery__item
{
    position: relative;
}
.gallery__item h1
{
    color: white;
    position: absolute;
    top: 15%;
    opacity: 1;
    right: 0.5rem;
    width: 95%;
    text-align: right;
    transition: all 0.4s;
}
.line
{
    border-bottom: 3px solid white;
    position: absolute;
    right: 0.5rem;
    width: 94%;
    height: 5px;
    background-color: #fff;
    top: 30%;
    opacity: 0;
    transition: all 0.4s;    
}
.gallery__item p
{
    
    position: absolute;
    bottom: 0rem;
    right: 5%;
text-align: right;
    color: white;
    opacity: 0;
    transition: all 0.4s;
}
.overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.3)
}
.gallery__item:hover .line
{
    opacity: 1;
    top:20%;
}
.gallery__item:hover h1
{
    opacity: 1;
    top: 10%;
}
.gallery__item:hover p
{
    opacity: 1;
    bottom: 2rem;
}